.home-banner {
    background-image: url(https://netcomlearning.s3.amazonaws.com/website-img/banner-img/home-page-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 780px;
    position: relative;

}

.home-banner h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 22px;
    padding-left: 23px;
    color: #fff;
}

.home-banner-overlay {
    position: absolute;
    bottom: 0;
    padding: 60px 30px;
    background: rgba(0,0,0,.69);
    color: #fff;
}

.home-banner-overlay span {
    flex: 0 0 20%;
    font-size: 18px;
}
.home-view-btn {
    background: #2379db;
    font-size: 18px!important;
    font-weight: 500!important;
    padding: .375rem 4em !important;
}

.home-banner-content {
    position: absolute;
    top: 18%;
    width: 750px;
    left: 19%;
    width: 610px!important
}

.home-banner-search input {
    padding: 12px 24px;
    font-size: 18px;
    opacity: .6;
    border: none;
    border-radius: 23px 0 0 23px!important;
}

.search-btn {
    opacity: .6;
    width: 78px;
    background: #fff;
    border-radius: 0 23px 23px 0;
}
.home-banner-vendors {
    min-width: 610px !important;
    margin-top: 1rem;
}
.home-banner-vendors span {
    font-size: 15px;
    opacity: .7;
    color: #fff;
    margin-right: 0.5rem;
}